export RUST_LOG=debug
export PORT=3000

export DATABASE_USER=<username>
export DATABASE_PASS=<password>
export DATABASE_NAME=<dbname>
export DATABASE_URL=postgres://${DATABASE_USER}:${DATABASE_PASS}@localhost:5432/${DATABASE_NAME}

export PGADMIN_EMAIL=<email4pgadmin>
export PGADMIN_PASSWORD=<password4pgadmin>

export JWT_SECRET=<secret>

export ALLOWED_ORIGINS=http://localhost:4200